
*{
    font-family: 'Playfair Display', sans-serif;
}

  .content {
    max-width: 800px;
    text-align: left;
    margin: auto;
  }
  
  .carousel-container {
    padding-top: 80px;
    width: 848px;
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 328px;
  }

  .carousel-image {
    width: 100%; 
    height: auto; 
    max-height: 300px; 
    object-fit: cover; 
}
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: 0.3; 
    transition: opacity 0.3s ease-in-out;
  }
  
  .carousel-button:hover{
    background-color: #D69EF8;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .flex-container {
    display: flex;
    margin: 10px;
    padding: 20px;
    justify-content: space-around;
  }
  
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    display: block;
    width: 250px;
  }
  
  .gallery:hover {
    border: 1px solid #777;
  }
    
  .gallery img {
    width: 100%;
    height: auto;
  }
    
  .gallery.desc {
    padding: 15px;
    text-align: center;
  }

 

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .businness-container{
    flex-direction: column;
    padding-bottom: 40px;
  }

  .business-news img{
    width: 288px;
    height: 175px;
  }

  .row-content img{
    width: 70px;
    height: 65px;
  }
}
  