body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background: #d1d0d0;
    padding: 50px 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec {
    margin-right: 30px;
}

.aboutus {
    width: 40%;
}

h2 {
    position: relative;
    color: #111111;
    font-weight: 500;
    margin-bottom: 15px;
}

.aboutus h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #D69EF8;
}

.social {
    margin-top: 20px;
    display: flex;
}

.social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    background: #fcfbfb;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.social a:hover {
    background: #D69EF8;
}

.quicklinks {
    width: 25%;
}

.quicklinks ul li {
    list-style: none;
}

.quicklinks ul li a {
    color: #0e0d0d;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover {
    color: #D69EF8;
}

.contact {
    width: 25%;
}

.info {
    position: relative;
}

.info li {
    display: flex;
    margin-bottom: 16px;
}

.info li span:nth-child(1) {
    color: rgb(12, 12, 12);
    font-size: 20px;
    margin-right: 10px;
}

.info li span {
    color: #080808;
}

.info li a {
    color: #080808;
    text-decoration: none;
}

.info li a:hover {
    color: #D69EF8;
}

.copyrightweb {

    padding: 8px 100px;
    text-align: center;
    color: #D69EF8;
    margin-top: auto;
}
